# Ignore everything
*

# Except evrything in .gitingnore
!.gitignore

# Except License, node related, and .md files
!LICENSE
!*.md
!package.json
!package-lock.json

# Entry point
!index.js

# Commands folder with each command
!commands
!commands/ping.js